# Dependency directories
node_modules/
backEnd/node_modules/
frontEnd/node_modules/

# Environment variables
.env
.env.local
backEnd/.env
frontEnd/.env

# Build outputs
frontEnd/dist/
frontEnd/dist-ssr/

# Editor etc
.vscode/
.idea/
.DS_Store
*.log
tmp/
scratch/
